/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@font-face{
    font-family: cartoon;
    src: url('../static/planetbe.ttf');
}
/* sets the html and body to 100% for use in the css */
html {
    width: 100%;
}
body {
    width:100%;
    padding:8px;
}
body, html {

    min-width: 300px;
    background-color: #0E2A36 !important;
}

nav {
    min-width: 280px;
    width: calc(100% + 8px) !important;
    margin: -8px 0 0 -4px;
    height: 80px !important;
    background-color: #00cfa7 !important;
    -webkit-box-shadow: 0px 5px 5px 5px rgba(0, 0, 0,1);
            box-shadow: 0px 5px 5px 5px rgba(0, 0, 0,1);
}
nav > div > ul {
    line-height: 80px !important;
}
nav > div > ul  > li {
    position: relative;
    width: 100px;
    text-align: center;
}
nav > div > ul > li::after {
    content: "";
    width: 1px;
    display: block;
    position: absolute;
    height: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    opacity: 0.4;
    color: white;
    background-color: white;
    right: -1px;
}
nav ul a {
    padding: 0 !important;
}
nav .sidenav-trigger i {
    height: 80px !important;
    line-height: 80px !important;
}
#logo {
    position: relative;
    top: 2px;
    height:75px;
}



/* This class is used for all images on the page which don't have any text hovering on them */
.top_box {
    width:100%;
    -webkit-animation-delay: 0.2s;
            animation-delay: 0.2s;
            font-weight: bold;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
} 

.top_box > p {
    display: inline-block;
    text-align: center;
    width:85% ;
    vertical-align: top;
    font-size: 2px;
    font-size: max(1.6vw, 20px);
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}
.box_spacing {
    margin: 250px auto;
}

/* centering the skills bullets */
#skills_bullets_wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    text-align: center;
    min-height: 150px;
    
}

.flex_container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 50%;
    height: 100%;
    margin-top: 10px;
}


.skills_bullets_buble_wrapper{
    width: 50%;
    padding: 1rem;
    height: 100%;   
    margin-left: 7.5px;
    margin-right: 7.5px;
    min-height: 335px;
}
.skills_content {
    padding: 1.5rem;
    border-radius: .5rem;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0, 0, 0,0.8);
            box-shadow: 0px 1px 1px 1px rgba(0, 0, 0,0.8);

    text-align: left;
    
}
.skills_content > div{
    position: relative;
    font-weight: bold;
    font-size: 1.125rem;
    top:-30px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    

}
.skills_content > p{
    font-size: 1rem;
    margin-top: -10px;
    color: silver;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 5px;
    
}
.skills_content > a{
    display: block;
    font-size: 14px;
    font-size: max(1.1vw,14px);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #00cfa7;
}
.skills_bullets{
    display: block;
    margin-bottom: calc(13% - 8px);
    margin-left: auto;
    margin-right: auto;
    min-width: 150px;
    width: 70%;
    height: 80%;
}



.FadeIn {
-webkit-animation:FadeIn 1s forwards;
        animation:FadeIn 1s forwards;
}
.FadeOut {
-webkit-animation:FadeOut 1s forwards;
        animation:FadeOut 1s forwards;
}

@-webkit-keyframes FadeIn {
from {opacity: 0.0;}
to {opacity: 1.0;}
}

@keyframes FadeIn {
from {opacity: 0.0;}
to {opacity: 1.0;}
}
@-webkit-keyframes FadeOut {
from {opacity: 1.0;}
to {opacity: 0.0};
}
@keyframes FadeOut {
from {opacity: 1.0;}
to {opacity: 0.0};
}
.getSmaller {
    visibility: visible !important;
    -webkit-animation-name: GetSmaller;
    
    animation-name: GetSmaller;
-webkit-animation-duration: 1s;
    animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

.getMoreSmaller {
    
    -webkit-animation-name: GetMoreSmall;
    
    animation-name: GetMoreSmall;
-webkit-animation-duration: 1s;
    animation-duration: 1s;
-webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}


@-webkit-keyframes GetBigger {
    from {-webkit-transform: scale(1,1);transform: scale(1,1);}
    to {-webkit-transform: scale(1.2,1.2);transform: scale(1.2,1.2);}
}

@keyframes GetBigger {
    from {-webkit-transform: scale(1,1);transform: scale(1,1);}
    to {-webkit-transform: scale(1.2,1.2);transform: scale(1.2,1.2);}
}
@-webkit-keyframes GetSmaller {
    from {-webkit-transform:scale(1.2);transform:scale(1.2);}
    to {-webkit-transform:scale(1.0);transform:scale(1.0);}
}
@keyframes GetSmaller {
    from {-webkit-transform:scale(1.2);transform:scale(1.2);}
    to {-webkit-transform:scale(1.0);transform:scale(1.0);}
}

/* sytle for the overall profile box */
#profile_box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: table;
    width: 50%;
    background-color:#17252A;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.profile_box_item{
    display: table-row;
    padding: 5px;
    height: 5vh;
    
}
.profile_box_item > div {
    display: table;
    width: 100%;
    
}
.profile_box_item > div > span {
    display: table-cell;
    width: 50%;
    font-size: 14px;
    font-size: max(1.5vw,14px);
}

.profile_box_item > h4 {
    font-size: 30px;
    font-size: max(2vw, 30px);
    
}
.profile_box_item > h6 {
    font-size: 16px;
    font-size: max(1.5vw, 18px);
    
}

.profile_box_item > a > img{
    margin-top: 3%;
    margin-left: 30px;
    display: inline-block;
     width: 3.0vw;
    height: 3.0vw;
    min-width: 35px;
    min-height:35px;
}
.profile_box_item > a:nth-child(1) > img {
    width: 3.5vw;
    height: 3.5vw;
    min-width: 35px;
    min-height:35px;
}
@media (min-width:100px) and (max-width: 797px) {
    #skills_bullets_wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    .flex_container{
        width:100%;
    }
    #profile_box {
        width: 85%;
    }
    
}

@-webkit-keyframes GetMoreBigger {
    from {-webkit-transform: scale(1,1);transform: scale(1,1);}
    to {-webkit-transform: scale(1.5,1.5);transform: scale(1.5,1.5);}
}
@keyframes GetMoreBigger {
    from {-webkit-transform: scale(1,1);transform: scale(1,1);}
    to {-webkit-transform: scale(1.5,1.5);transform: scale(1.5,1.5);}
}
@-webkit-keyframes GetMoreSmall {
    from {-webkit-transform: scale(1.5,1.5);transform: scale(1.5,1.5);}
    to {-webkit-transform: scale(1,1);transform: scale(1,1);}
}
@keyframes GetMoreSmall {
    from {-webkit-transform: scale(1.5,1.5);transform: scale(1.5,1.5);}
    to {-webkit-transform: scale(1,1);transform: scale(1,1);}
}

